/* Only demo */
@media (max-width: 1000px) {
  .welcome-message {
    display: none;
  }
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td{
  vertical-align: middle;
}

body{
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.navbar.navbar-static-top{
  background-color: $navy;
}

.nav.navbar-right > li > a{
  color: #fff;
}

.btn-mg{
  margin: 2px 0px;
}

.wizard > .content > .body label{
  margin-bottom: 0px;
}

.pretty{
  display: block;
  margin: 1em 0;
}

.select2-container--default .select2-selection--single[aria-expanded="true"],.select2-dropdown{
  border-color: $navy;
  border-radius: 0px;
}

.md-skin .navbar-fixed-top, .md-skin .navbar-static-top {
  background-color: $navy !important;
}

.table-hover > tbody > tr:hover {
  background-color: $navy_pale;
}

.md-skin .nav-header{
  background: $navy;
}

.select2-container--default .select2-selection--single{
  border-radius: 0px;
}

.select2-container .select2-selection--single {
  line-height: inherit;
}

.widget-head-color-box{
  background-image: image_url('patterns/bg-pattern.png');
}

* {
  border-radius: 0px !important;
}

.unordered-list{
  padding: 0 40px !important;
}

.hr-line-dashed-dark {
  border-top: 1px dashed $navy;
  color: #ffffff;
  background-color: #ffffff;
  height: 1px;
  margin: 20px 0;
}

.backstretch{
  opacity: 0.60;
}

img.circle-border {
  border: 6px solid $navy_pale;
  border-radius: 50% !important;
}

@media screen and (max-height: 575px){ #rc-imageselect, .g-recaptcha {transform:scale(0.77);-webkit-transform:scale(0.77);transform-origin:0 0;-webkit-transform-origin:0 0;} }

.wizard > .content {
  overflow-x: auto;
}