/* Only demo */
@media (max-width: 1000px) {
  .welcome-message {
    display: none;
  }
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td{
  vertical-align: middle;
}

body{
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.navbar.navbar-static-top{
  background-color: $navy;
}

.nav.navbar-right > li > a{
  color: #fff;
}