/* Only demo */
@media (max-width: 1000px) {
  .welcome-message {
    display: none;
  }
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td{
  vertical-align: middle;
}

body{
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.navbar.navbar-static-top{
  background-color: $navy;
}

.nav.navbar-right > li > a{
  color: #fff;
}

.btn-mg{
  margin: 2px 0px;
}

.wizard > .content > .body label{
  margin-bottom: 0px;
}

.pretty{
  display: block;    
  margin: 1em 0;
}

.select2-container--default .select2-selection--single[aria-expanded="true"],.select2-dropdown{
  border-color: $navy;
}

.md-skin .navbar-fixed-top, .md-skin .navbar-static-top {
  background-color: $navy !important;
}

.backstretch{
  background-image: linear-gradient(to top left, #673AB7, #69F0AE);
}

.table-hover > tbody > tr:hover {
  background-color: $navy_pale;
}

.backstretch-item{
  display: block !important;
  background-image: image_url('car-background.jpg');
  opacity: 0.25;
  background-size: 100%;
}