<div class="wrapper wrapper-content animated fadeInDown">
  <div class="row">
    <div class="col-md-12">
      <div class="ibox">
        <div class="ibox-title">
          <h5>Reglamento de Tránsito de la Ciudad de México</h5>
        </div>
        <div class="ibox-content">
          <div class="row">
            <div class="col-md-12">
              <div class="alert alert-warning">
                El contenido presente es una adaptación del Reglamento de Tránsito de la Ciudad de México, emitido el 17 de agosto de 2015.
                <a target="_blank" class="alert-link" href="http://data.ssp.cdmx.gob.mx/reglamentodetransito/documentos/nuevo_reglamento_transito.pdf">Descargar reglamento en PDF <i class="fa fa-external-link"></i> </a>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 text-justify">
              <div id="guia_steps">
                <h3><i class="fa fa-fw fa-id-card"></i> Sistema de Puntos</h3>
                <section class="animated fadeIn">
                  <h2>En el nuevo reglamento se reforzará el sistema de puntos de la capital. Por cada infracción, el automovilista sumará puntos, al acumular 12 se le suspenderá la licencia de conducir y la podrán reexpedir hasta tres años después.</h2>
                </section>
                <h3><i class="fa fa-fw fa-male"></i> Peatón</h3>
                <section class="animated fadeIn">
                  <h4 class="text-uppercase">Lo que debes saber:</h4>
                  <ol type="1">
                    <li>Obedecer indicaciones de los policías y la señalización vial.</li>
                    <li>Antes de cruzar una vía, debes voltear a ambos lados de la calle.</li>
                    <li>Debes ceder el paso a vehículos de emergencia cuando circulen con las señales luminosas y audibles en funcionamiento.</li>
                    <li>Cruzar por las esquinas o cruces peatonales, siempre y cuando le sea posible hacerlo de manera segura.</li>
                    <li>Debes utilizar los pasos peatonales a desnivel ubicados en vías de acceso controlado.</li>
                    <li>Las autoridades correspondientes deberán garantizar que las vías peatonales se encontrarán libres de obstáculos.</li>
                    <li>Tendrán preferencia de paso en las intersecciones que no cuenten con semáforos sobre el tránsito vehicular.</li>
                    <li>Prioridad de uso del arroyo vehicular para el peatón, cuando no existan aceras en la vía o estén impedidas para el tránsito peatonal.</li>
                    <li>Podrán caminar por las vialidades cuando realicen procesiones, comitivas organizadas o filas escolares.</li>
                    <li>Prioridad de uso en las calles peatonales, dónde podrán circular en todo lo ancho de la vía y en cualquier sentido.</li>
                  </ol>
                  <p>En todos los casos anteriores, los peatones que no cumplan con las obligaciones de este reglamento, serán amonestados verbalmente por los agentes y orientados a conducirse de conformidad con lo establecido.</p>
                </section>
                <h3><i class="fa fa-fw fa-car"></i> Automovilista</h3>
                <section class="animated fadeIn">
                  <h4 class="text-uppercase">Puedes ir al corralón por:</h4>
                  <ul class="unordered-list">
                    <li>Insultar o golpear a agentes de tránsito y serán acreedores de una multa que va de los $1,399.00 a los $2,098.50</li>
                    <li>Circular sobre los carriles exclusivos para el transporte público en el sentido de la vía o en contraflujo.</li>
                    <li>Circular o detenerse en áreas restringidas que estén delimitadas por marcas en el pavimento, como son las vías ciclistas o peatonales.</li>
                    <li>Las motocicletas serán remitidas cuando el conductor o su acompañante no porte casco protector, además será acreedor de una multa de los $699.50 a los $1,399.00</li>
                    <li>Se podrá remitir un auto cuando sea estacionado en banquetas, cruces peatonales, vías ciclistas, vías primarias, sobre o debajo de cualquier puente, a un costado de camellones o glorietas, en carriles exclusivos, confinados y/o prioritarios de transporte público, en espacios de servicios especiales destinados al ascenso y descenso de pasajeros.</li>
                    <li>También frente a bancos, hidrantes para uso de los bomberos, entradas y salidas de vehículos de emergencia, entradas o salidas de estacionamientos públicos y gasolineras; centros escolares y demás centros de concentración masiva que determine la Secretaría; rampas peatonales o de acceso de vehículos; así como en entradas y salidas peatonales de instalaciones de hospitales o centros de salud. La multa por incurrir en alguna de las anteriores va de los $349.75 a los $2,098.50</li>
                  </ul>
                  <div class="hr-line-dashed-dark"></div>
                  <h4 class="text-uppercase">Lo que puedes y no puedes hacer al conducir:</h4>
                  <ul class="unordered-list">
                    <li>Deberás contar con póliza de seguro que ampare la responsabilidad civil por daños a terceros en su persona y en su patrimonio. Las sanciones son:
                      <table class="table table-bordered white-bg">
                        <thead>
                        <tr>
                          <th class="text-center">Tipo de vehículo</th>
                          <th class="text-center">Sanción con multa equivalente en veces la Unidad de Cuenta de la Ciudad de México vigente</th>
                          <th class="text-center">Puntos de penalización en licencia para conducir</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                          <td class="text-center">Conductores de vehículos de uso particular</td>
                          <td class="text-center">20 a 40 veces; la multa irá de los $1,399 a los $2,798.00</td>
                          <td class="text-center">No aplica</td>
                        </tr>
                        <tr>
                          <td class="text-center">Conductores de vehículos de transporte de carga</td>
                          <td class="text-center">40 a 60 veces; la multa irá de los $2,798.00 a los $4,197.00 y la remisión del vehículo al depósito</td>
                          <td class="text-center">No aplica</td>
                        </tr>
                        <tr>
                          <td class="text-center">Conductores de vehículos de transporte público de pasajeros</td>
                          <td class="text-center">60 a 80 veces; la multa irá de los $4,197.00 a los $5,596.00 y la remisión del vehículo al depósito</td>
                          <td class="text-center">No aplica</td>
                        </tr>
                        </tbody>
                      </table>
                      <p>El propietario del vehículo particular tendrá 45 días naturales para la cancelación de la multa, al presentar ante Seguridad Pública una póliza de seguro de responsabilidad civil por daños a terceros, en los términos de la Ley, dentro del término estipulado.</p>
                    </li>
                    <li>No podrás utilizar objetos que representen un distractor para el conductor mientras el vehículo esté en movimiento, como son: navegadores GPS, teléfono celular o cualquier dispositivo de comunicación.</li>
                    <li>Deberás compartir los carriles de circulación de manera responsable con los demás vehículos, por lo que se debe cambiar de carriles de forma escalonada y tomar el carril extremo correspondiente anticipadamente cuando pretendas dar vuelta.</li>
                    <li>La vuelta continua a la derecha y a la izquierda está prohibida, excepto cuando exista un señalamiento que expresamente lo permita.</li>
                    <li>No deberás detener tu vehículo invadiendo los cruces peatonales, área de espera para bicicletas o motocicletas y dentro de la intersección de vías.</li>
                    <li>Deberás evitar las vueltas en "U" cerca de una curva y donde el señalamiento restrictivo expresamente lo prohíba.</li>
                    <li>Está prohibido remolcar o empujar otros vehículos motorizados.</li>
                    <li>No debes portar objetos que obstruyan la visibilidad del conductor o lo distraigan.</li>
                    <li>Utilizar parlantes o producir ruido excesivo con aparatos de música está prohibido.</li>
                    <li>No deberás transportar mayor número de personas que el señalado, así como llevar a personas en la parte exterior de la carrocería.</li>
                  </ul>
                  <div class="hr-line-dashed-dark"></div>
                  <h4 class="text-uppercase">Límites de velocidad:</h4>
                  <ol type="1">
                    <li>En los carriles centrales de las vías de acceso controlado la velocidad máxima será de 80 km/h</li>
                    <li>En vías primarias la velocidad máxima era de 70 km/h y ahora será de 50 km/h</li>
                    <li>En vías secundarias se podrá circular a 40 km/h</li>
                    <li>En tránsito calmado la velocidad será de 30 km/h</li>
                    <li>En zonas escolares y de hospitales los vehículos deberán circular a 20 km/h</li>
                    <li>En estacionamientos y en vías peatonales la velocidad máxima será de 10 km/h</li>
                  </ol>
                  <p>El incumplimiento de las obligaciones sobre velocidad por parte de los automovilistas se sancionará de acuerdo a la siguiente tabla:</p>
                  <table class="table table-bordered white-bg">
                    <thead>
                    <tr>
                      <th class="text-center">Fracción</th>
                      <th class="text-center">Sanción con multa equivalente en veces la Unidad de Cuenta de la Ciudad de México vigente</th>
                      <th class="text-center">Puntos de penalización en licencia para conducir</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                      <td class="text-center">1, 2 y 3</td>
                      <td class="text-center">10 o 20 veces; la multa irá de los $699.50 a los $1,399.00</td>
                      <td class="text-center">3 puntos</td>
                    </tr>
                    <tr>
                      <td class="text-center">4, 5 y 6</td>
                      <td class="text-center">10 o 20 veces; la multa irá de los $699.50 a los $1,399.00</td>
                      <td class="text-center">6 puntos</td>
                    </tr>
                    <tr>
                      <td class="text-center">2 y 3 para conductores de vehículos de transporte público de pasajeros y de carga</td>
                      <td class="text-center">10 o 20 veces; la multa irá de los $699.50 a los $1,399.00</td>
                      <td class="text-center">3 puntos</td>
                    </tr>
                    <tr>
                      <td class="text-center">4, 5 y 6 para conductores de vehículos de transporte público de pasajeros y de carga</td>
                      <td class="text-center">20 a 30 veces; la multa irá de los $1,399.00 a los $2,098.00 $</td>
                      <td class="text-center">6 puntos</td>
                    </tr>
                    </tbody>
                  </table>
                </section>
                <h3><i class="fa fa-fw fa-bicycle"></i> Ciclista</h3>
                <section class="animated fadeIn">
                  <h4 class="text-uppercase">Lo que debes saber:</h4>
                  <ol type="1">
                    <li>Debes usar aditamentos luminosos, bandas fluorescentes o reflejantes en horario nocturno o circunstancias de poca visibilidad.</li>
                    <li>No podrán manipular un teléfono celular, dispositivos de comunicación o de audio mientras la bicicleta esté en movimiento.</li>
                    <li>Los ciclistas deberán circular por las vías exclusivas, excepto cuando estén impedidas para el libre tránsito.</li>
                    <li>Indicar la dirección de su giro o cambio de carril mediante señales con el brazo y mano.</li>
                    <li>En caso de llevar a acompañantes menores de 5 años deberán de ser transportados en remolques o cabinas que tengan bandas reflejantes y cinturones que aseguren el torso del menor.</li>
                    <li>Tienen preferencia de paso cuando la luz verde les otorgue el paso, cuando no alcancen a cruzar la vía al terminarse el ciclo del semáforo, así como en las intersecciones que no cuenten con semáforos.</li>
                    <li>En comitivas organizadas, dependiendo del número de participantes podrán utilizar parte o la totalidad de la vía.</li>
                    <li>Podrán estacionarse sobre las aceras siempre y cuando permitan el libre tránsito de los peatones.</li>
                    <li>No pueden circular sobre las aceras y áreas reservadas al uso exclusivo de peatones, con excepción de los niños menores de doce años y los elementos de seguridad pública que conduzcan vehículos no motorizados, ni por carriles exclusivos para el transporte público de pasajeros.</li>
                    <li>Tienen prohibido llevar objetos que obstruyan la visibilidad del conductor, lo distraigan o transportar carga que impida mantener ambas manos sobre el manubrio.</li>
                    <li>Tienen prohibido sujetarse a otros vehículos en movimiento.</li>
                    <li>Tienen prohibido transportar a un pasajero apoyado en el cuadro de la bicicleta, en el espacio intermedio entre el sillín y el manubrio.</li>
                  </ol>
                  <p>En todos los casos anteriores, los conductores de bicicletas que no cumplan con las obligaciones de este reglamento, serán amonestados verbalmente por los agentes y orientados a conducirse de conformidad con lo establecido.</p>
                </section>
                <h3><i class="fa fa-fw fa-motorcycle"></i> Motociclista</h3>
                <section class="animated fadeIn">
                  <h4 class="text-uppercase">Para conducir motocicleta deberás:</h4>
                  <ol type="1">
                    <li>Utilizar un carril completo de circulación.</li>
                    <li>Circular todo el tiempo con las luces traseras y delanteras encendidas.</li>
                    <li>Transportar sólo a las personas para las que exista plaza disponible.</li>
                    <li>Usar aditamentos luminosos o bandas reflejantes en horario nocturno, casco protector diseñado específicamente para motociclistas y asegurarse que los acompañantes también lo usen, así como visores, chamarra o peto con aditamentos rígidos con cobertura de hombros, codos y torso específicos para motociclista, guantes y botas, todos de diseño específico para conducción de este tipo de vehículo.</li>
                    <li>Está prohibido que circulen sobre las aceras y áreas reservadas al uso exclusivo de peatones, vías ciclistas y los carriles confinados para el transporte público de pasajeros.</li>
                    <li>No pueden circular entre carriles, salvo cuando el tránsito vehicular se encuentre detenido y busque colocarse en el área de espera para motocicletas o en un lugar visible para reiniciar la marcha.</li>
                    <li>Queda prohibido hacer maniobras riesgosas o temerarias, cortes de circulación o cambios abruptos de carril que pongan en riesgo su integridad y la de terceros.</li>
                    <li>No deberán transportar carga que impida mantener ambas manos sobre el manubrio y sujetarse a otros vehículos en movimiento.</li>
                    <li>Queda prohibido transportar a un pasajero entre el conductor y el manubrio, queda restringido.</li>
                    <li>No deberán viajar en la motocicleta menores de edad que no puedan sujetarse por sí mismos y estando correctamente sentados, no puedan colocar adecuada y firmemente los pies en los estribos o posa pies; excepto que cuente con los aditamentos especialmente diseñados para su seguridad.</li>
                  </ol>
                </section>
                <h3><i class="fa fa-fw fa-bus"></i> Transporte Público</h3>
                <section class="animated fadeIn">
                  <h4 class="text-uppercase">Puedes ir al corralón por:</h4>
                  <ol type="1">
                    <li>Realizar maniobras de ascenso o descenso de pasajeros en carriles centrales o el de la izquierda.</li>
                    <li>Hacer base o estacionar su vehículo en lugares no autorizados o prohibidos.</li>
                    <li>Cargar combustible llevando pasajeros a bordo.</li>
                    <li>Llevar vidrios polarizados, obscurecidos o con aditamentos u objetos distintos a las calcomanías reglamentarias.</li>
                    <li>Si no cuentan con una póliza de seguro, los concesionario de unidad de transporte público de pasajeros serán acreedores de una multa de $2,798.00 hasta los $5,596.00 y la remisión del vehículo al depósito.</li>
                  </ol>
                  <div class="hr-line-dashed-dark"></div>
                  <h4 class="text-uppercase">Lo que debes hacer:</h4>
                  <ol type="1">
                    <li>Circular por el carril de la extrema derecha, excepto cuando existan vehículos estacionados o exista algún obstáculo, para rebasar a otros vehículos más lentos o se pretenda girar a la izquierda.</li>
                    <li>Esperar el tiempo suficiente para que los pasajeros aborden o desciendan del vehículo; en caso de personas con discapacidad o con movilidad limitada, deben permitir que se instalen en el interior del vehículo o en la acera.</li>
                    <li>Realizar maniobras de ascenso o descenso de pasajeros en el carril de la extrema derecha, en la esquina antes de cruzar la vía transversal.</li>
                    <li>Circular con las luces interiores encendidas en horario nocturno.</li>
                    <li>Evitar el uso de equipos de audio a niveles de volumen que resulten dañinos a la salud o molestos a los pasajeros.</li>
                    <li>Tienes prohibido rebasar a otro vehículo que circule en el carril de contraflujo, salvo que el vehículo esté parado por alguna descompostura.</li>
                    <li>Evitar cargar combustible llevando pasajeros a bordo.</li>
                    <li>No puedes llevar vidrios polarizados, obscurecidos o con aditamentos u objetos distintos a las calcomanías reglamentarias.</li>
                  </ol>
                  <div class="hr-line-dashed-dark"></div>
                  <h4 class="text-uppercase">El transporte escolar también cuenta como transporte público</h4>
                </section>
                <h3><i class="fa fa-fw fa-truck"></i> Transporte de Carga</h3>
                <section class="animated fadeIn">
                  <h4 class="text-uppercase">Puedes ir al corralón por:</h4>
                  <ol type="1">
                    <li>Por realizar maniobras de carga y descarga fuera de lugares seguros; o afectando el tránsito vehicular. Podrías tener una multa que va de los $6,995.00 hasta los $13,990.00</li>
                    <li>Hacer base o estacionar su vehículo fuera de un lugar autorizado o de los sitios de encierro o guarda correspondientes. Podrías tener una multa de entre $6,995.00 hasta los $13,990.00</li>
                    <li>Por circular con carga que exceda el peso permitido. Sería aplicable una multa que podría ir de los $2,798.00 a los $4,197.00</li>
                    <li>Si no cuentan con una póliza de seguro, los concesionario de unidades de transporte de carga serán sancionados con una multa que podría ir de los $2,798.00 a los $4,197.00</li>
                  </ol>
                  <div class="hr-line-dashed-dark"></div>
                  <h4 class="text-uppercase">Lo que debes hacer:</h4>
                  <ol type="1">
                    <li>Sujetarse estrictamente a circular por las rutas, horarios y los itinerarios de carga y descarga autorizados y dados a conocer por la Secretaría y por Seguridad Pública.</li>
                    <li>Circular por el carril de la extrema derecha y usar el izquierdo sólo para rebasar o dar vuelta a la izquierda.</li>
                    <li>No podrán circular por carriles centrales y segundos niveles de las vías de acceso controlado cuando se trate de vehículos de peso bruto vehicular de diseño superior a 3,857 Kg o donde el señalamiento restrictivo así lo indique.</li>
                    <li>Realizar maniobras de carga y descarga en lugares seguros y sin afectar o interrumpir el tránsito vehicular.</li>
                    <li>Los conductores de vehículos de transporte de carga deben circular con la carga debidamente asegurada por tensadores para sujetar carga, cintas y/o lonas, que evite tirar objetos o derramar sustancias que obstruyan el tránsito o pongan en riesgo la integridad física de las personas.</li>
                    <li>No deberán circular con pasajeros que viajen en el área de carga.</li>
                    <li>Tienen prohibido circular con carga que exceda el peso permitido al establecido en las normas aplicables.</li>
                  </ol>
                  <div class="hr-line-dashed-dark"></div>
                  <h4 class="text-uppercase">Para transportar sustancias tóxicas:</h4>
                  <ol type="1">
                    <li>Los conductores de vehículos de transporte de sustancias tóxicas o peligrosas deben asegurarse de que la carga esté debidamente protegida y señalizada de conformidad con las normas oficiales mexicanas.</li>
                    <li>No deberán llevar a bordo personas ajenas a su operación.</li>
                    <li>No se les permite arrojar o descargar en las calles.</li>
                    <li>Abstenerse de realizar paradas que no estén señaladas en la operación del servicio.</li>
                    <li>En caso de congestionamiento vehicular que interrumpa su circulación, el conductor deberá solicitar a los agentes prioridad para continuar su marcha, mostrándoles la documentación que ampare el riesgo sobre el producto que transporta.</li>

                  </ol>
                </section>

                <!--
                <h3>Artículo 1.</h3>
                <section class="animated fadeInUp">
                  <h4>Artículo 1.</h4>
                  <p>El presente reglamento tiene por objeto regular la circulación de peatones y vehículos en la vía pública y la seguridad vial en la Ciudad de México.</p>
                  <p>Las disposiciones de este reglamento son aplicables a peatones, conductores, pasajeros y propietarios de cualquier tipo de vehículo matriculado en el país o el extranjero y que circule en el territorio de la Ciudad de México. En el presente ordenamiento se establecen las normas respecto a sus movimientos y estacionamiento, en observancia a lo establecido en las leyes, reglamentos, acuerdos, decretos y normatividad local vigente, así como las maniobras de ascenso y descenso de pasajeros o de carga y descarga. De igual forma, determina las condiciones legales y de seguridad a las que se deben ajustar los vehículos y sus conductores para su circulación.</p>
                  <p>En todo lo no previsto en el presente ordenamiento, se aplicará de manera supletoria las disposiciones contenidas en la Ley de Movilidad del Distrito Federal, en la Ley de Cultura Cívica del Distrito Federal y en los programas ambientales y de seguridad vial.</p>
                </section>
                <h3>Artículo 2.</h3>
                <section class="animated fadeInUp">
                  <h4>Artículo 2.</h4>
                  <p>La aplicación de este reglamento estará basada en los siguientes principios rectores:</p>
                  <ol type="I">
                    <li>La circulación en condiciones de seguridad vial es un derecho, por lo que todas las autoridades en el ámbito de su compe tencia deben adoptar medidas para garantizar la protección de la vida e integridad física de las personas, sobre todo de los usuarios vulnerables de la vía;</li>
                    <li>La circulación en la vía pública debe efectuarse con cortesía, por lo que los ciudadanos deben observar un trato respetuoso hacia el resto de los usuarios de la vía, así como a los agentes y personal de apoyo vial;</li>
                    <li>Se evitará la colocación de objetos que representen un obstáculo a la circulación de vehículos y tránsito de peatones;</li>
                    <li>Se dará prioridad en la utilización del espacio vial de acuerdo a la siguiente jerarquía:
                      <ol type="a">
                        <li>Peatones; en especial personas con discapacidad y movilidad limitada</li>
                        <li>Ciclistas;</li>
                        <li>Usuarios del servicio de transporte público de pasajeros;</li>
                        <li>Prestadores del servicio de tra nsporte público de pasajeros;</li>
                        <li>Prestadores del servicio de transporte de carga y distribución de mercancías; y</li>
                        <li>Usuarios de transporte particular automotor y motociclistas.</li>
                      </ol>
                    </li>
                    <li>Todos los usuarios de la vía, que son los enlistados en la fracción anterior, y <b>en especial los conductores de todo tipo de vehículos motorizados,</b> deben responsabilizarse del riesgo que implican para los demás usuarios de la vía, por lo que su conducción se realizará de manera precautoria y respetando las disposiciones del presente Reglamento; y</li>
                    <li>El uso del automóvil particular deberá ser de manera racional, con el objetivo de mejorar las condiciones de salud y protección del ambiente.</li>
                  </ol>
                  <p>Estos principios deben ser difundidos por autoridades y promotores voluntarios de forma permanente a través de campañas, programas y cursos.</p>
                  <p>La Secretaría en coordinación con Seguridad Pública, diseñará y llevará a cabo campañas permanentes de cultura de movilidad y seguridad vial que garanticen la concientización y respeto a la seguridad de todos lo s usuarios de la vía, del mismo modo, se realizarán acciones para inhibir el consumo de alcohol, narcóticos, estupefacientes o psicotrópicos al conducir.</p>
                </section>
                <h3>Artículo 3.</h3>
                <section class="animated fadeInUp">
                  <h4>Artículo 3.</h4>
                  <p>En el ámbito de sus atribuciones, son autoridades competentes para la aplicación del presente reglamento la Secretaría, Seguridad Pública y los Jueces Cívicos.</p>
                </section>
                <h3>Artículo 4.</h3>
                <section class="animated fadeInUp">
                  <h4>Artículo 4.</h4>
                  <p>Además de lo que señala la Ley y sus reglamentos, para los efectos de este Reglamento, se entiende por:</p>
                  <ol type="I">
                    <li>Agente, elemento de la Policía del Distrito Federal con funcion es para el control de tránsito;</li>
                    <li>Amonestación verbal, acto por el cual el agente advierte a los peatones, conductores y pasajeros de un vehículo sobre el incumplimiento cometido a las disposiciones de este reglamento y tiene como propósito orientarlos a co nducirse de conformidad con lo establecido en el mismo y prevenir la realización de otras conductas similares;</li>
                    <li>Área de espera para bicicletas y motocicletas, zona marcada sobre el pavimento en una intersección de vías que tengan semáforos, que permite a los conductores de estos vehículos aguardar la luz verde del semáforo en una posición adelantada, de tal forma que sean visibles a los conductores del resto de los vehículos;</li>
                    <li>Ayudas técnicas, dispositivos tecnológicos y materiales que permiten habilitar, rehabilitar o compensar una o más limitaciones funcionales, motrices, sensoriales o intelectuales de las Personas con Discapacidad.</li>
                    <li>Bicicleta, Vehículo no motorizado de propulsión humana a través de pedales;</li>
                    <li>Boleta, documento en donde se hace constar la infracción y la sanción correspondiente;</li>
                    <li>Carril, espacio asignado para la circulación de vehículos, ubicado sobre la superficie de rodadura y delimitado por líneas continuas o discontinuas, el cual debe contar con el ancho suficiente para la circulación de vehículos en una fila;</li>
                    <li>Carril confinado, superficie de rodadura con dispositivos de delimitación en su perímetro para el uso preferente o exclusivo de servicios de transporte, así como de cierto tipo de vehículos;</li>
                    <li>Ciclista, conductor de un vehículo de tracción humana a través de pedales; se considera también ciclista a aquellos que conducen bicicletas asistidas por motores eléctricos, siempre y cuando ésta desarrolle velocidades de hasta 25 kilómetros por hora; los menores de doce años a bordo de un vehículo no motorizado serán considerados peatones;</li>
                    <li>Circulación, desplazamiento por la vía pública de peatones, conductores y ocupantes de vehículos.</li>
                    <li>Conductor, toda persona que maneje un vehículo en cualquiera de sus modalidades;</li>
                    <li>Cruce peatonal, área sobre el arroyo vehicular asignada para el tránsito de peatones, puede estar a nivel de la acera o superficie de rodadura;</li>
                    <li>Dispositivos para el control del tránsito, conjunto de elementos que ordenan y orientan los movimientos de tránsito de person as y circulación de vehículos; que previenen y proporcionan información a los usuarios de la vía para garantizar su seguridad, permitiendo una operación efectiva del flujo peatonal y vehicular;</li>
                    <li>Elemento de Seguridad Pública, miembro de la policía preventiva o complementaria;</li>
                    <li>Espacios para servicios especiales, son todos aquellos sitios en la vía pública debidamente autorizados por la Secretaría, exclusivos para realizar maniobras de ascenso y descenso de pasajeros o para como áreas reservadas para personas con discapacidad, servicio de acomodadores, bicicletas y motocicletas, sitios y lanzaderas de transporte público, áreas para carga y descarga, transporte de valores, correos, mensajería, mensajería y paquetería, recolección de residuos sólidos, vehículos de emergencia, y los que se señalen por la Secretaria;</li>
                    <li>Formato de hecho de tránsito, cédula en la que se establecen las circunstancias de tiempo, lugar y modo de incidentes viales, en la cual el agente o elemento de Seguridad Pública registra: fecha, hora, lugar; datos de las personas y vehículos involucrados, en su caso, número de lesionados o fallecidos; servicios de emergencia y en su caso, del Ministerio Publico; y cualquier otro dato que sea necesario para determinar las características del incidente y responsabilidad de quienes hayan intervenido en el hecho.</li>
                    <li>Hecho de tránsito, evento producido por el tránsito vehicular, en el que interviene por lo menos un vehículo, causando daños materiales, lesiones y/o muerte de personas;</li>
                    <li>Infracción, conducta que transgrede alguna disposición del presente reglamento o demás disposiciones de tránsito aplicables y que tiene como consecuencia una sanción;</li>
                    <li>Intersección, nodo donde convergen dos o más vías, en la que se realizan los movimientos direccionales del tr ánsito peatonal o vehicular de forma directa o canalizada por islas;</li>
                    <li>Juez Cívico, los Jueces Cívicos adscritos a la Consejería Jurídica y de Servicios Legales;</li>
                    <li>Ley, la Ley de Movilidad del Distrito Federal;</li>
                    <li>Motocicleta, vehículo motorizado que utiliza m anubrio para su conducción, de una o más plazas, con dos o más ruedas, que está equipado con motor eléctrico, de combustión interna de dos o cuatro tiempos, con un cilindraje a partir de cuarenta y nueve centímetros cúbicos de desplazamiento o impulsado po r cualquier otra fuerza motriz, que cumpla con las disposiciones estipuladas en la Norma Oficial Mexicana en materia de identificación vehicular;</li>
                    <li>Motociclista, persona que conduce una motocicleta;</li>
                    <li>Peatón, persona que transita por la vía a pie y/o que uti liza ayudas técnicas por su condición de discapacidad o movilidad limitada, así como en patines, patineta u otros vehículos recreativos; incluye a niños menores de doce años a bordo de un vehículo no motorizado;</li>
                    <li>Personal de apoyo vial, elemento de la Secr etaría responsable de brindar información vial, prestar apoyo a peatones y conductores de vehículos, así como promover la cultura vial y auxiliar en contingencias causadas por hechos de tránsito o eventos públicos masivos;</li>
                    <li>Persona con discapacidad, aquell as personas que tengan deficiencias físicas, mentales, intelectuales, o sensoriales a largo plazo que al interactuar con diversas barreras, puedan impedir su participación plena y efectiva en la sociedad, en igualdad de condiciones con las demás;</li>
                    <li>Personas con movilidad limitada, personas que de forma temporal o permanente, debido a enfermedad, edad, accidente o alguna otra condición, realizan un desplazamiento lento, difícil o desequilibrado. Incluye a niños, mujeres en periodo de gestación, adultos mayor es, adultos que transitan con niños pequeños, personas con discapacidad, personas con equipaje o paquetes;</li>
                    <li>Preferencia de paso, ventaja que se le otorga a alguno de los usuarios de la vía para que realice un movimiento en el punto donde convergen flujos de circulación;</li>
                    <li>Prioridad de uso, ventaja que se le otorga a alguno de los usuarios de la vía para la utilización de un espacio de circulación; los otros vehículos tendrán que ceder el paso y circular detrás del usuario con prioridad o en su caso cambiar de carril;</li>
                    <li>Programa de Verificación Vehicular, el Programa de Verificación Vehicular Obligatoria para el Distrito Federal vigente;</li>
                    <li>Programa Hoy no Circula, el Programa Hoy no Circula para el Distrito Federal vigente;</li>
                    <li>Programa para Contingencias Ambientales Atmosféricas, el Programa para Contingencias Ambientales Atmosféricas en el Distrito Federal vigente;</li>
                    <li>Programa conduce sin alcohol, el Programa de Control y Prevención de Ingestión de Alcohol en conductores de vehículos en el Distrito Federal;</li>
                    <li>Promotor voluntario, ciudadano capacitado por la Secretaría o Seguridad Pública que colabora a regular el tránsito en las inmediaciones de centros educativos para garantizar la seguridad vial de los escolares, zonas de obra o cruces conflictivos;</li>
                    <li>Reglamento, el Reglamento de Tránsito del Distrito Federal;</li>
                    <li>Secretaría, la Secretaría de Movilidad del Distrito Federal;</li>
                    <li>Secretaría de Obras, la Secretaría de Obras y Servicios del Distrito Federal;</li>
                    <li>Secretaria del Medio Ambiente, la Secretaría del Medio Ambient e del Distrito Federal;</li>
                    <li>Seguridad Pública, la Secretaría de Seguridad Pública del Distrito Federal;</li>
                    <li>Seguridad Vial, conjunto de políticas y sistemas orientados a la prevención de hechos de tránsito;</li>
                    <li>Señalización Vial, conjunto de elementos y objetos vi suales de contenido informativo, indicativo, restrictivo, preventivo, prohibitivo o de cualquier otro carácter, que se colocan la infraestructura vial;</li>
                    <li>Substancia peligrosa, Todo elemento, compuesto, material o mezcla que independientemente de su estado físico, represente un riesgo potencial para la salud, el ambiente, la seguridad de los usuarios y/o la propiedad de terceros;</li>
                    <li>Tirilla de resultados técnicos, ticket papeleta que contiene: última fecha de verificación del aparato, fecha y hora de la prueba realizada, grados de alcohol en aire espirado, número de prueba, líneas punteadas sobre las cuales se anota nombre completo del infractor, registro federal de contribuyentes, número de licencia, nombre y firma del médico o técnico aplicador;</li>
                    <li>Unidad de Cuenta de la Ciudad de México (UCCM), El valor expresado en pesos que se utilizará, de manera individual o por múltiplos de ésta, para determinar sanciones y multas administrativas, conceptos de pago y montos de referencia, previstos en las normas locales v igentes del Distrito Federal.</li>
                    <li>Usuarios vulnerables de la vía, aquellos usuarios que están expuestos a un mayor peligro durante su circulación en la vía ya que no cuentan con una estructura de protección, por lo que son más propensos a sufrir lesiones grav es o incluso perder la vida cuando se ven involucrados en hechos de tránsito;</li>
                    <li>Vehículo, aparato diseñado para el tránsito terrestre, propulsado por una fuerza humana directa o asistido para ello por un motor de combustión interna y/o eléctrico, o cualquie r otra fuerza motriz, el cual es utilizado para el transporte de personas o bienes;</li>
                    <li>Vehículo de emergencia, aquellos destinados a la prestación de servicios médicos, de protección civil, rescate, apoyo vial, bomberos y de policía; </li>
                    <li>Vehículo motorizado, aquellos vehículos de transporte terrestre de pasajeros o carga, que para su tracción dependen de un motor de combustión interna, eléctrica o de cualquier otra tecnología;</li>
                    <li>Vehículo no motorizado, aquellos vehículos que utilizan tracción humana para su despl azamiento; incluye bicicletas asistidas por motor que desarrollen velocidades máximas de 25 kilómetros por hora;</li>
                    <li>Vehículo recreativo, aquellos utilizados por peatones para actividades lúdicas y deportivas tales como patines, patinetas, patines del diablo y bicicletas para niños de hasta doce años de edad;</li>
                    <li>Vía, espacio físico destinado al tránsito de peatones y vehículos;</li>
                    <li>Vialidad, conjunto integrado de vías de uso común que conforman la traza urbana de la ciudad, cuya función es facilitar el tránsito efic iente y seguro de personas y vehículos;</li>
                    <li>Vía ciclista, espacio destinado al tránsito exclusivo o prioritario de vehículos no motorizados la que puede ser parte de la superficie de rodadura de las vías o tener un trazo independiente; ésta incluye:
                      <ol type="a">
                        <li>Carril c ompartido ciclista, carril ubicado en la extrema derecha del área de circulación vehicular, con un ancho adecuado para permitir que ciclistas y conductores de vehículos motorizados compartan el espacio de forma segura; estos carriles deben contar con dispo sitivos para regular la velocidad;</li>
                        <li>Ciclocarril, carril delimitado con marcas en el pavimento destinado exclusivamente para la circulación ciclista;</li>
                        <li>Ciclovía, carril confinado exclusivo para la circulación ciclista físicamente segregado del tránsito autom otor; y</li>
                        <li>Calle compartida ciclista, vía destinada a la circulación prioritaria de bicicletas, que cuenta con dispositivos que permiten orientar y regular el tránsito de todos los vehículos que circulen en ella, con la finalidad de compartir el espacio via l de forma segura y en estricto apego a la prioridad de uso del espacio indicada en el presente Reglamento.</li>
                      </ol>
                    </li>
                    <li>Vía de acceso controlado, vías primarias cuyas intersecciones generalmente son a desnivel; cuentan con carriles centrales y laterales separados por camellones; la incorporación y desincorporación al cuerpo de flujo continuo deberá realizarse a través de carriles de aceleración y desaceleración en puntos específicos, según el listado del anexo de este reglamento;</li>
                    <li>Vía peatonal, espacio destinado al tr ánsito exclusivo o prioritario de peatones, accesible para personas con discapacidad y movilidad limitada, y al alojamiento de instalaciones o mobiliario urbano y en la que el acceso a vehículos está restringida a reglas especificadas en este reglamento; é stas incluyen:
                      <ol type="a">
                        <li>Cruces peatonales;</li>
                        <li>Aceras y rampas;</li>
                        <li>Camellones e isletas;</li>
                        <li>Plazas y parques;</li>
                        <li>Puentes peatonales;</li>
                        <li>Calles peatonales y andadores; y</li>
                        <li>Calles de prioridad peatonal.</li>
                      </ol>
                    </li>
                    <li>Vía primaria, espacio físico cuya función es facilitar el flujo del tránsito veh icular continuo o controlado por semáforo, entre distintas zonas de la Ciudad, las cuales pueden contar con carriles exclusivos para la circulación de bicicletas y/o transporte público, según el listado del anexo de este reglamento;</li>
                    <li>Vía pública, todo espa cio de uso común destinado al tránsito de peatones y vehículos; así como a la prestación de servicios públicos y colocación de mobiliario urbano;</li>
                    <li>Vía reversible, espacio físico destinado exclusivamente al tránsito de vehículos, con la posibilidad de cambi ar el sentido total o parcial de su circulación en horarios previamente establecidos y comunicados por Seguridad Pública;</li>
                    <li>Vía secundaria, espacio físico cuya función es permitir el acceso a los predios y facultar el flujo del tránsito vehicular no continu o; en su mayoría conectan con vías primarias y sus intersecciones pueden estar controladas por semáforos; y</li>
                    <li>Zona de tránsito calmado, área delimitada al interior de colonias, barrios, o pueblos, cuyas vías se diseñan para reducir el volumen y velocidad d el tránsito, de forma tal que peatones, ciclistas y conductores de vehículos motorizados circulen de manera segura.</li>
                  </ol>
                </section>
                <h3>Artículo 5.</h3>
                <section class="animated fadeInUp">
                  <h4>Artículo 5.</h4>
                  <p>Los peatones deben guiar su circulación bajo las siguientes reglas:</p>
                  <ol type="I">
                    <li>Obedecer las indicaciones de los agentes, personal de apoyo vial, promotores voluntarios, así como la señalización vial; </li>
                    <li>Dar preferencia de paso y asistir a aquellos que utilicen ayudas técnicas o a personas con movilidad limitada;</li>
                    <li>Cuando utilicen vehículos recreativos en las vías peatonales:
                      <ol type="a">
                        <li>Dar preferencia a los demás peatones;</li>
                        <li>Conservar una velocidad máxima de 10 km por hora que no ponga en riesgo a los demás usuarios de la vía; y</li>
                        <li>Evitar sujetarse a vehículos, ya sean motorizados o no; </li>
                      </ol>
                    </li>
                    <li>Antes de cruzar una vía, voltear a ambos lados de la calle, para verificar que los vehículos tienen posibilidad, por distancia y velocidad, de frenar para cederles el paso; asimismo, procurar el contacto visual con los conductores;</li>
                    <li>Antes de cruzar una vía, voltear a ambos lados de la calle, para verificar que los vehículos tienen posibilidad, por distancia y velocidad, de frenar para cederles el paso; asimismo, procurar el contacto visual con los conductores;</li>
                    <li>Cruzar por las esquinas o cruces peatonales en las vías primarías y vías secundarias con más de dos carriles efectivos de circulación; en vías secundarias que cuenten con un máximo de dos carriles efectivos de circulación podrán cruzar en cualquier punto; y siempre y cuando le sea posible hacerlo de manera segura; y</li>
                    <li>Utilizar los pasos peatonales a desnivel ubicados en vías de acceso controlado. En otras vías primarias no es obligatorio su uso si el paso a desnivel se encuentra a más de 30 metros del punto donde se realiza el cruce. Lo anterior, atendiendo a lo estipulado en la fracción VI del presente artículo.</li>
                  </ol>
                  <p>Los peatones que no cumplan con las obligaciones de este Reglamento, serán amonestados verbalmente por los agentes y orientados a conducirse de conformidad a las disposiciones aplicables.</p>
                  <p>Las autoridades correspondientes tomarán las medidas que procedan para garantizar la integridad física y el tránsito seguro de los peatones, en particular, de las personas con discapacidad y movilidad limitada. Asimismo, realizarán las acciones necesarias para garantizar que las vías peatonales, se encuentren libres de obstáculos que impidan el tránsito peatonal.</p>
                </section>
                <h3>Artículo 6.</h3>
                <section class="animated fadeInUp">
                  <h4>Artículo 6.</h4>
                  <p>Para garantizar la seguridad de los peatones, los conductores de vehículos están obligados a otorgar:</p>
                  <ol type="I">
                    <li>Preferencia de paso en las intersecciones controladas por semáforos, cuando:
                      <ol type="a">
                        <li>La luz verde les otorgue el paso a los peatones; </li>
                        <li>Habiéndoles correspondido el paso de acuerdo con el ciclo del semáforo, no alcancen a cruzar completamente la vía; y</li>
                        <li>Los vehículos vayan a dar vuelta para incorporarse a otra vía y haya peatones cruzando ésta.</li>
                        <li>Los vehículos vayan a dar vuelta para incorporarse a otra vía y haya peatones cruzando ésta.</li>
                      </ol>
                    </li>
                    <li>Preferencia de paso en las intersecciones que no cuenten con semáforos, siempre tendrán preferencia sobre el tránsito vehicular, independientemente de la s reglas establecidas en el artículo 10; cuando haya peatones esperando pasar, los conductores deberán parar y cederles el paso;</li>
                    <li>Prioridad de uso del arroyo vehicular, cuando:
                      <ol type="a">
                        <li>No existan aceras en la vía; en caso de existir acotamiento o vías ci clistas, los peatones podrán circular del lado derecho de éstas; a falta de estas opciones transitarán por el extremo de la vía y en sentido contrario al flujo vehicular; </li>
                        <li>Las aceras estén impedidas para el libre tránsito peatonal por consecuencia de o bras públicas o privadas, eventos que interfieran de forma temporal la circulación o cuando el flujo de peatones supere la capacidad de la acera; la autoridad se asegurará de la implementación de espacios seguros para los transeúntes; mismas que estarán de limitadas, confinadas y señalizadas, conforme a la legislación aplicable y por parte de quien genere las anomalías en la vía; </li>
                        <li>Transiten en comitivas organizadas, procesiones o filas escolares, debiendo circular en el sentido de la vía; </li>
                        <li>Remolquen algún objeto que impida la libre circulación de los demás peatones sobre la acera, debiendo circular en el primer carril y en el sentido de la vía; en caso que transiten en ciclovías y carriles preferenciales ciclistas deberán hacerlo pegado a la acera y e n el sentido de la circulación ciclista;</li>
                        <li>Se utilicen vehículos recreativos o ayudas técnicas, debiendo transitar por el primer carril de circulación de la vía; en estos casos, también se podrá hacer uso del acotamiento y vías ciclistas. </li>
                      </ol>
                    </li>
                    <li>Preferencia de paso cuando transiten por la acera y algún conductor deba cruzarla para entrar o salir de un predio o estacionamiento; y</li>
                    <li>Prioridad de uso en las calles de prioridad peatonal, dónde los peatones podrán circular en todo lo ancho de la vía y en cualquier sentido. </li>
                  </ol>
                  <p>El conductor de un vehículo no motorizado que no respete la preferencia de paso y/o la prioridad de uso de los peatones de acuerdo a lo dispuesto en este artículo será amonestado y/o apercibido verbalmente por los agentes y orientado a conducirse de conformidad a las disposiciones aplicables.</p>
                  <p>El conductor de un vehículo motorizado que no respete la preferencia de paso y/o la prioridad de uso de los peatones de acuerdo a lo dispuesto en este artículo será sancionado con base en la siguiente tabla:</p>
                  <table class="table table-bordered white-bg">
                    <thead>
                      <tr>
                        <th class="text-center">Tipo de vehículo</th>
                        <th class="text-center">Sanción con multa equivalente en veces la Unidad de Cuenta de la Ciudad de México vigente</th>
                        <th class="text-center">Puntos de penalización en licencia para conducir</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td class="text-center">Conductores de vehículos de uso particular</td>
                        <td class="text-center">10 a 20 veces</td>
                        <td class="text-center">3 puntos</td>
                      </tr>
                      <tr>
                        <td class="text-center">Conductores de vehículos de transporte de carga</td>
                        <td class="text-center">40 a 60 veces</td>
                        <td class="text-center">3 puntos</td>
                      </tr>
                      <tr>
                        <td class="text-center">Conductores de vehículos de transporte público de pasajeros</td>
                        <td class="text-center">60 a 80 veces</td>
                        <td class="text-center">3 puntos</td>
                      </tr>
                    </tbody>
                  </table>
                </section>
                <h3>Artículo 7.</h3>
                <section class="animated fadeInUp">
                  <h4>Artículo 7.</h4>
                  <p>En todo momento los conductores o pasajeros de vehículos deben contribuir a generar un ambiente de sana convivencia entre todos los usuarios de la vía; por lo que deben obedecer la señalización vial, las indicaciones de los agentes, del personal de apoyo vial o promotores voluntarios; y deben abstenerse de:</p>
                  <ol type="I">
                    <li>Insultar, denigrar o golpear al personal que desempeña labores de agilización del tránsito y aplicación de las sanciones establecidas en este Reglamento; </li>
                    <li>Proferir vejaciones mediante utilización de señales visuales, audibles o de cualquier otro accesorio adherido al vehículo; golpear o realizar maniobras con el vehículo con objeto de intimidar o maltratar físicamente a otro usuario de la vía; y</li>
                    <li>Utilizar la bocina (claxon) para un fin diferente al de evitar un hecho de tránsito, especialmente en condiciones de congestión vehicular, así como provocar ruido excesivo con el motor.</li>
                  </ol>
                  <p>Los conductores que realicen las acciones indicadas en las fracciones anteriores, serán sancionados en la forma siguiente:</p>
                  <table class="table table-bordered white-bg">
                    <thead>
                    <tr>
                      <th class="text-center">Fracción</th>
                      <th class="text-center">Sanción con multa equivalente en veces la Unidad de Cuenta de la Ciudad de México vigente</th>
                      <th class="text-center">Puntos de penalización en licencia para conducir</th>
                    </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td class="text-center">III</td>
                        <td class="text-center">5 a 10 veces</td>
                        <td class="text-center">1 punto</td>
                      </tr>
                      <tr>
                        <td class="text-center">I y II</td>
                        <td class="text-center">20 a 30 veces</td>
                        <td class="text-center">No aplica</td>
                      </tr>
                    </tbody>
                  </table>
                  <p>En cuanto hace a las fracciones I y II, el agente remitirá al conductor con la autoridad competente.</p>
                </section>
                <h3>Artículo 8.</h3>
                <section class="animated fadeInUp">
                  <h4>Artículo 8.</h4>
                  <p>Los conductores de todo tipo de vehículos deben:</p>
                  <ol type="I">
                    <li>Obedecer las indicaciones de los agentes, personal de apoyo vial, promotores voluntarios, así como respetar la señalización vial de acuerdo a lo estipulado en el anexo de los dispositivos para el control del tránsito del presente reglamento;</li>
                    <li>Tomar las máximas precauciones a su alcance cuando existan peatones sobre el arroyo vehicular, reducir la velocidad o parar para permitir el paso a peatones, especialmente en zonas escolares o en calles de prioridad peatonal;</li>
                    <li>Compartir los carriles de circulación de manera responsable con los demás vehículos, por lo que se debe cambiar de carr iles de forma escalonada y tomar el carril extremo correspondiente anticipadamente cuando se pretenda dar vuelta, considerando lo especificado en la fracción VIII del este artículo;</li>
                    <li>Circular en el sentido que indique la vía; tratándose de vías reversi bles, respetar los tramos y horarios que determine la autoridad competente y en caso de tratarse de vías de doble sentido, circular en el costado derecho de la vía, evitando deslumbrar a los conductores del sentido contrario;</li>
                    <li>Rebasar otro vehículo sólo por el lado izquierdo; en el caso de vehículos motorizados que adelanten a ciclistas o motociclistas deben otorgar al menos la distancia de 1.50 metros de separación lateral; </li>
                    <li>Alinearse a la derecha y reducir la velocidad cuando otro vehículo intente adelantarlo;</li>
                    <li>Conservar respecto al vehículo que le preceda, una distancia razonable que garantice la detención oportuna en caso de que éste frene intempestivamente;</li>
                    <li>Indicar la dirección de su giro o cambio de carril, mediante luces direcciona les, en caso de vehículos no motorizados, podrá indicarse mediante señas;</li>
                    <li>Reducir la velocidad para conservar una distancia prudente y permitir el movimiento, cuando otro vehículo pretenda incorporarse a su carril y éste lo ha indicado con las luces d ireccionales;</li>
                    <li>Dar prioridad a los vehículos de emergencia que circulen con las señales luminosas y audibles encendidas, debiendo disminuir la velocidad para despejar el camino y procurar alinearse hacia la derecha; </li>
                    <li>Disminuir su velocidad y tomar todas las precauciones necesarias cuando encuentren un vehículo de transporte escolar realizando maniobras de ascenso y descenso de escolares;</li>
                    <li>Cuando transiten en zonas escolares:
                      <ol type="a">
                        <li>Disminuir su velocidad y extremar precauciones, respetando la señalización vial y dispositivos para el control del tránsito correspondientes que indican la velocidad máxima permitida y cruce de peatones; </li>
                        <li>Parar y ceder el paso a los escolares; y</li>
                        <li>Obedecer las indicaciones de los agentes o de los promotores voluntarios.</li>
                      </ol>
                    </li>
                  </ol>
                </section>
                -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<% content_for :script do %>
  <script>

      $(function () {

          $("#guia_steps").steps({
              // Appearance
              headerTag: "h3",
              bodyTag: "section",
              transitionEffect: "none",
              stepsOrientation: "vertical",
              enableFinishButton: false,
              enableAllSteps: true,
              // Templates
              titleTemplate: '#title#',
              // Labels
              labels:{
                  finish: "Enviar",
                  next: "Siguiente",
                  previous: "Anterior",
                  loading: "Cargando..."
              },
              // Behaviour
              autoFocus: true,
          });
          // $.select2("select");
      });

  </script>
<% end %>