<div class="wrapper wrapper-content animated fadeInDown">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="ibox">
        <div class="ibox-content">
          <div class="row">
            <div class="col-md-12 text-justify">
              <div class="text-center article-title">
                <h2>Instituto Politécnico Nacional - Escuela Superior de Cómputo</h2>
                <h2>Trabajo Terminal 2017-B030</h2>
                <h1>Prototipo de Sistema de Apoyo para la Evaluación de Habilidades de Conducción</h1>
              </div>
              <p class="m-b-lg">Con el fin de reducir el número de incidentes viales en la Ciudad de México, se elabora el prototipo de sistema de apoyo que consiste en: una Aplicación Web y una aplicación de Realidad Virtual, capaces de ofrecer una evaluación teórica-practica respectivamente de las habilidades de conducción automotriz de cualquier individuo que pretenda solicitar una Licencia de Conducir tipo A (Automovilista y Motociclista) ante la Secretaria de Movilidad (SEMOVI). <b>Los criterios de evaluación están fundamentados en el Reglamento de Tránsito de la Ciudad de México, publicado el 17 de agosto de 2015.</b> </p>
              <div class="hr-line-dashed-dark"></div>
              <div class="text-center">
                <h1>Desarrollador</h1>
                <div class="m-b-md">
                  <%= image_tag('profile.jpg',{height: '100px' , class: "img-circle circle-border m-b-md"}) %>
                  <h3 class="no-margins">
                    Daniel Izacar Memije Fábrego
                  </h3>
                  <small></small>
                </div>
                <p>Estudiante de Ingeniería en Sistemas Computacionales con dos años de experiencia en desarrollo web profesional.</p>
                <div class="hr-line-dashed-dark"></div>
                <div class="text-center">
                  <p>Aplicación Web desarrollada en </p>
                  <%= link_to image_tag("rails.png",class: "m-b-md"), "http://rubyonrails.org/", target: '_blank' %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>